.user-list-item {
  display: flex;
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin: 0;
}

.user-list-item li {
  width: 200px;
}

.head {
  background-color: #f4f4f4;
  font-weight: bold;
}
.nav-list {
  display: flex;
  width:400px;
  justify-content: space-around;
  list-style: none;}